@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
}

.readex {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
  font-family: "Readex Pro", sans-serif;
}

.name {
  text-transform: uppercase;
  width: 100%;
  max-width: -webkit-max-content;
  max-width: max-content;
  font-size: min(11.4vw, 9.2em);
  font-weight: 600;
  line-height: 115%;
}

.text-outline {
  color: rgba(255, 255, 255, 0);
  letter-spacing: -2px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(229, 228, 228, 0.5);
  text-transform: uppercase;
  font-size: 6.75rem;
  font-weight: 600;
  line-height: 115%;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
