@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #161617;
  scroll-behavior: initial;
}

.readex {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
  font-family: "Readex Pro", sans-serif;
}

.lime {
  font-family: "Limelight", cursive;
}

.rakkas {
  font-family: "Rakkas", cursive;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.name {
  text-transform: uppercase;
  width: 100%;
  max-width: -webkit-max-content;
  max-width: max-content;
  font-size: min(11.4vw, 9.2em);
  font-weight: 600;
  line-height: 115%;
}

.text-outline {
  color: rgba(255, 255, 255, 0);
  letter-spacing: 4px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(229, 228, 228);
  text-transform: uppercase;
  /* font-size: 6.75rem; */
  font-weight: 600;
  line-height: 115%;
}

.slick-dots li div {
  fill: white;
}

.slick-dots li:hover div {
  fill: #fb5322;
}

.slick-dots .slick-active div {
  fill: #fb5322;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.sticky-element {
  background-color: black;
}

.has-sticky {
  padding-top: auto;
}

.hadees-container {
  overflow-x: hidden;
}

.fade-out-left {
  animation: fade-out-left 1s ease;
}

.fade-in-right {
  animation: fade-in-right 1s ease;
}

@keyframes fade-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.no-transition {
  transition: none !important;
}

.quranAyah {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.quranAyah2 {
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(86, 58, 50, 0.432);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
